// Custom fonts
@font-face {
    font-family: 'Cormorant-Regular';
    src: url('/assets/cormorant/Cormorant-Regular.eot');
    src: url('/assets/cormorant/Cormorant-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Cormorant-Italic';
    src: url('/assets/cormorant/Cormorant-Italic.eot');
    src: url('/assets/cormorant/Cormorant-Italic.woff') format('woff');
}
html {
    font-family: $font-stack-normal;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
    color: $dark-grey;
    font-size: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
em {
    font-family: $font-stack-italic;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
blockquote {
    font-weight: 100;
    max-width: 600px;
}