// Global
::selection {
    background: red;
    color: white;
}
::-moz-selection {
    background: red;
    color: white;
}
// Structure
* {
    box-sizing: border-box;
}

// Elements
body {
    max-width: 900px;
    margin: 0 auto;
}


// Media
